body{
    /*改變網頁背景圖片*/
    /* background-image:url("https://images.unsplash.com/photo-1665713800863-16a4f96c3a0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=397&q=80") ;*/
   background-color:  #ffffff;
    /*當圖片不夠大時要不要repeat填滿整個網頁 no-repeat為不repeat*/
    background-repeat: no-repeat;
    /*覆蓋整個網頁*/
    background-size: cover;
    /*設定圖片位置*/
    background-position: center;
    /*網頁在滾動的時候圖片會不會跟著移動 fixed為完全不移動 scroll為外圍頁面滾動時滾動 local為區塊滾動時移動(放在最外層時與scroll相同)*/
    background-attachment: scroll;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

*{
    margin: 0;
    padding: 0;

}
ul {
    /*選擇不要出現<ul>前的黑點*/
    list-style: none;
    margin-top: 0px;
}

li{
    /*設定li為橫式展開*/
    display: inline;
 
    /*float: left;*/    
   
}
h1{
    margin-top:10px;

}
/*設定滑鼠停在<li>中的超連結<a>時的行為*/
li a:hover {
     background-color: #dddddd;
}

button:hover {
     background-color: #ddd;
}
/*.為使用類別選擇器選擇class*/
.list{
    color:aquamarine;
}
/*#為使用類別選擇器選擇id*/
#button1,#button2{
    color:yellowgreen;
    background-color: aqua;
}
/*不加東西為使用類別選擇器選擇tag*/
.nav {
    color: pink;
    display: inline;
    padding: 10px;
    float: left;
    background-color: #000000;
    text-align: center;
    margin: 0px;   
    border: 3px;
    width:28vh;
    font-size: 30px;
    border-style:inset;
    border-color: wheat;
}

p {
    color: red;
}
#animation {
background-color: #ffd28d;
width:250px;
height: 30px;
/*設定做完下個轉變需要花的時間*/
transition-duration:1s; 
/*設定發生轉變時的動畫速度*/
transition-timing-function: linear;

}


#animation:hover {
    width:300px;
    height:200px;
    background-color: #000000;
    color: #ffffff;
    }

.menu{
    height:250vh;
    width:20vh;
    background-color: #7c7c7c;
    float:left;
  
}

.content{
    margin:0px;
    padding-top: 0px;
    border: 0px;
    

  
}

.navdiv{
    margin: 0px;
    padding: 0px;
    border: 0px;
   
    
}

.content_title{
    background-image: url('https://agirls.aottercdn.com/media/0d532b3f-0196-466a-96e1-7c6db56d0142.gif');
    width:250vh;
    background-repeat: repeat;
    height: 200px;
    margin: 0px;
    padding: 0px;
    border: 0px;
   
  
   
  
}

.content_title p{
    color: antiquewhite;
    text-align: center;
   
}